@page "/customers"
@using BlazorServerApp.Abstractions
@using BlazorServerApp.Components.Shared
@using BlazorServerApp.Models
@inject ICustomerRepository repository

<Header Name="Customers" Description="Lorem ipsum" />

<TableTemplate Items="@customers">
    <HeaderTemplate>
        <th>Id</th>
        <th>Name</th>
        <th>City</th>
        <th></th>
    </HeaderTemplate>

    <RowTemplate>
        <td>@context.Id</td>
        <td>@context.Name</td>
        <td>@context.City</td>
        <td><a class="btn btn-primary" href="/customers/@context.Id">View</a></td>
    </RowTemplate>
</TableTemplate>


@code {

    private bool ShowMessage = true;

    private List<Customer> customers = new List<Customer>();

    // [Inject]
    // public ICustomerRepository repository { get; set; }

    protected override void OnInitialized()
    {
        customers = repository.GetAll();
    }
}
