@page "/customers"

<h3>Customers</h3>

<Header Name="Customers" Description="Lorem ipsum">
    <img src="https://placehold.co/300x200" />
</Header>

<SearchPanel ValueChanged="@Search" />

<CustomersTableTemplate Customers="@customers" />

