@page "/customers"
@using BlazorServerApp.Abstractions
@using BlazorServerApp.Components.Shared
@using BlazorServerApp.Models
@inject ICustomerRepository repository

<Header Name="Customers" Description="Lorem ipsum" />

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>City</th>
            <th></th>
        </tr>
    </thead>

    <tbody>

        @foreach (var customer in customers)
        {
            <tr>
                <td>@customer.Id</td>
                <td>@customer.Name</td>
                <td>@customer.City</td>
                <td><a class="btn btn-primary" href="/customers/@customer.Id">View</a></td>
            </tr>
        }

    </tbody>

    <tfoot>
        <tr>
            Count: @customers.Count
        </tr>
    </tfoot>
</table>


@code {

    private bool ShowMessage = true;

    private List<Customer> customers = new List<Customer>();

    // [Inject]
    // public ICustomerRepository repository { get; set; }

    protected override void OnInitialized()
    {
        customers = repository.GetAll();
    }
}
