@page "/products"
@inject IProductRepository repository


<h3>Products</h3>

<Header Name="Products" Description="Deres" />

<SearchPanel OnSearch="@OnSearch" />

<ProductsTableTemplate Products="@products" />


@code {

    private bool ShowMessage = true;

    private List<Product> products = new List<Product>();

    protected override void OnInitialized()
    {
        products = repository.GetAll();
    }

    private void OnSearch(string searchText)
    {
        Console.WriteLine($"Searching {searchText}...");
    }
}
