@page "/products"
@using BlazorServerApp.Abstractions
@using BlazorServerApp.Components.Shared
@using BlazorServerApp.Models
@inject IProductRepository repository

<Header Name="Products" Description="Deres" />

<TableTemplate Items="@products">
    <HeaderTemplate>
        <th>Id</th>
        <th>Name</th>
        <th>Color</th>
        <th></th>
    </HeaderTemplate>

    <RowTemplate>
        <td>@context.Id</td>
        <td>@context.Name</td>
        <td>@context.Color</td>
        <td><a class="btn btn-primary" href="/products/@context.Id">View</a></td>
    </RowTemplate>

</TableTemplate>


@code {

    private bool ShowMessage = true;

    private List<Product> products = new List<Product>();

    protected override void OnInitialized()
    {
        products = repository.GetAll();
    }
}
