@page "/customers"
@using BlazorServerApp.Abstractions
@using BlazorServerApp.Models
@inject ICustomerRepository repository

@if (ShowMessage)
{
    <h3>Hello, @name!</h3>
}

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>City</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var customer in customers)
        {
            <tr>
                <td>@customer.Id</td>
                <td>@customer.Name</td>
                <td>@customer.City</td>
            </tr>
        }

    </tbody>

    <tfoot>
        <tr>
            Count: @customers.Count
        </tr>
    </tfoot>
</table>


@code {
    private string name = "John";

    private bool ShowMessage = true;

    private List<Customer> customers = new List<Customer>();

    // [Inject]
    // public ICustomerRepository repository { get; set; }

    protected override void OnInitialized()
    {
        customers = repository.GetAll();
    }
}
