@page "/users"
@using BlazorServerApp.Services
@inject JsonPlaceholderUserService Api

<h3>Users</h3>

@if (users == null)
{
    <em>Loading users...</em>
}
else
{
    <UsersTableTemplate Users="@users"/>
}

@code {

    private List<User>? users;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(2000);

        users = await Api.GetAllAsync();
    }

}
