@using BlazorServerApp.Models


<TableTemplate Items="@Customers">
    <HeaderTemplate>
        <th>Id</th>
        <th>Name</th>
        <th>City</th>
        <th></th>
    </HeaderTemplate>

    <RowTemplate Context="customer">
        <td>@customer.Id</td>
        <td>@customer.Name</td>
        <td>@customer.City</td>
        <td><a class="btn btn-primary" href="/customers/@customer.Id">View</a></td>
    </RowTemplate>
</TableTemplate>



@code {

    [Parameter, EditorRequired]
    public required List<Customer> Customers { get; set; }

}
