<div>
    <h3>Hello, @Name!</h3>
    <p>@Description</p>

    @Content    

</div>

@code {

    [Parameter, EditorRequired]
    public required string Name { get; set;  }

    [Parameter, EditorRequired]
    public required string Description { get; set; }

    [Parameter]
    public RenderFragment? Content { get; set; }
}
