@using BlazorServerApp.Models

<TableTemplate Items="@Products">
    <HeaderTemplate>
        <th>Id</th>
        <th>Name</th>
        <th>Color</th>
        <th></th>
    </HeaderTemplate>

    <RowTemplate Context="product">
        <td>@product.Id</td>
        <td>@product.Name</td>
        <td>@product.Color</td>
        <td><a class="btn btn-primary" href="/products/@product.Id">View</a></td>
    </RowTemplate>

</TableTemplate>

@code {

    [Parameter, EditorRequired]
    public required List<Product> Products { get; set; }

}
